<header>
  <nav class="navbar navbar-expand-lg navbar-light py-0" style="background-color: lightblue;">
    <div class="container-fluid px-3">
      <h1><a class="navbar-brand fs-3" href="/map">鯨視 | 鯨豚生態視覺化平台</a></h1>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/data/sighting-records">資料</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visualization/species-composition">視覺化</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>