{{> header}}
<main>
  <div id="error" class="container p-0">
    <h2 class="mt-5">抱歉，此頁面不存在</h2>
  </div>
</main>
{{> footer}}
{{#if isDev}}
<script src="/main.bundle.js"></script>
<script src="/vendors.bundle.js"></script>
<script src="/error.bundle.js"></script>
{{else}}
<script src="/dist/js/main.bundle.js"></script>
<script src="/dist/js/vendors.bundle.js"></script>
<script src="/dist/js/error.bundle.js"></script>
{{/if}}